* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* ul li {
  list-style-type: none;
}

body {
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
  background-color: aliceblue;
}

.header-c,
.nav-bar,
.nav-list {
  display: flex;
}

.header-c {
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 50px;
}

.nav-bar {
  align-items: center;
  height: 100%;
}

.nav-list li {
  margin: 20px;
}

.main-c {
  height: 100vh;
}

.cards-c {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  margin: 20px;
}

.cards-c li {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.album-image img {
  width: 275px;
  height: 275px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px;
}

.likes {
  display: flex;
  justify-content: space-evenly;
  margin-left: -160px;
  padding: 10px;
}

.likes .char-name {
  font-size: 18px;
  font-weight: 700;
}

.comment-btn {
  width: 30%;
  border: 2.5px solid black;
  background: white;
  box-shadow: 4px 4px;
  font-size: 16px;
  padding: 5px 12px;
  margin-left: 50px;
}

.footer {
  width: 100%;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
}

.popup-con {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgba(15, 41, 29, 0.25);
  box-shadow: 0 8px 32px 0 rgba(108, 115, 221, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.div-wrap {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

.hidden {
  display: none;
}

.d-flex {
  display: flex;
}

.popup {
  width: 15%;
  height: 10%;
}

.pop-up-img {
  height: 350%;
  position: relative;
  bottom: 450%;
  left: 100%;
  margin-top: 10px;
}

#closePopUp {
  position: relative;
  left: 60%;
  bottom: 45%;
  cursor: pointer;
}

#comment {
  position: relative;
  top: 10px;
  width: 100%;
  height: 100px;
}

.inputs {
  position: relative;
  top: 200px;
  right: 12%;
}

#sendBtn {
  position: relative;
  top: 15px;
}

#show-comments {
  color: rgb(245, 239, 239);
}

h2 {
  position: relative;
  right: 10px;
}
