*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


* ul li {
  list-style-type: none;
}

body {
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
  background-color: aliceblue;
}

.header-c,
.nav-bar,.nav-list {
  display: flex;
}

.header-c {
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 50px;
}

.nav-bar {
  align-items: center;
  height: 100%;
}

.nav-list li {
  margin: 20px;
}

.main-c {
  height: 100vh;
}

.cards-c {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  margin: 20px;
 }

.cards-c li {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.album-image img {
  width: 275px;
  height: 275px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px;
}

.likes {
  display: flex;
  justify-content: space-evenly;
  margin-left: -160px;
  padding: 10px; 
}

.likes .char-name {
  font-size: 18px;
  font-weight: 700;
}

.likes-btn i {
  cursor: pointer;
}

.likes-btn input {
  border: none;
  pointer-events: none;
}

.comment-btn {
  width: 30%;
  border: 2.5px solid black;
  /* border-radius: 10px; */
  background: white;
  box-shadow: 4px 4px;
  font-size: 16px;
  padding: 5px 12px;
  margin-left: 50px;
}

.footer {
  width: 100%;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
}